.card__like-image {
    width: 20px;
    min-height: 18px;
    border: 0;
    background-color: #fff;
    background-image: url(../../../images/like-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    cursor: pointer;
    transition: 1s ease-in-out;
}

.card__like-image:hover {
    opacity: .4;
}